In [38]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline
import tensorflow as tf
from tensorflow import keras

In [39]:
df = pd.read_csv("Churn_Modelling.csv")
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [40]:
df.shape

(10000, 14)

In [41]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [42]:
df= df[[#'RowNumber', 'CustomerId', 'Surname',
     'CreditScore',   'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'
       ]].copy()

In [43]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [44]:
df['Gender'].replace({'Female':1,'Male':0},inplace=True)

In [45]:
df1 = pd.get_dummies(data=df, columns=['Geography', 'Gender'])
df1.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Geography_France',
       'Geography_Germany', 'Geography_Spain', 'Gender_0', 'Gender_1'],
      dtype='object')

In [46]:
def print_unique_col_values(df):
    for column in df:
        if df[column].dtypes == 'object':
            print(f'{column}: {df[column].unique()}')

In [47]:
print_unique_col_values(df)

Geography: ['France' 'Spain' 'Germany']

In [48]:
df1.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_0,Gender_1
0,619,42,2,0.00,1,1,1,101348.88,1,True,False,False,False,True
1,608,41,1,83807.86,1,0,1,112542.58,0,False,False,True,False,True
2,502,42,8,159660.80,3,1,0,113931.57,1,True,False,False,False,True
3,699,39,1,0.00,2,0,0,93826.63,0,True,False,False,False,True
4,850,43,2,125510.82,1,1,1,79084.10,0,False,False,True,False,True

In [49]:

X = df1.drop('Exited', axis=1)

# Extract the target variable
y = df1['Exited']

In [50]:

scalecolls=["CreditScore","Age","Tenure","Balance","NumOfProducts","EstimatedSalary"]
from sklearn.preprocessing import MinMaxScaler

scaler= MinMaxScaler()
df1[scalecolls]=scaler.fit_transform(df[scalecolls])

In [51]:
df1[scalecolls] = scaler.fit_transform(df1[scalecolls])

Tenure GÖREV SÜRESİ DEMMEK

In [52]:
df1.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_0,Gender_1
0,0.538,0.324324,0.2,0.000000,0.000000,1,1,0.506735,1,True,False,False,False,True
1,0.516,0.310811,0.1,0.334031,0.000000,0,1,0.562709,0,False,False,True,False,True
2,0.304,0.324324,0.8,0.636357,0.666667,1,0,0.569654,1,True,False,False,False,True
3,0.698,0.283784,0.1,0.000000,0.333333,0,0,0.469120,0,True,False,False,False,True
4,1.000,0.337838,0.2,0.500246,0.000000,1,1,0.395400,0,False,False,True,False,True

In [53]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [54]:
from sklearn.metrics import classification_report

In [55]:
def ANN(X_train, y_train, X_test, y_test, loss):
    model = keras.Sequential([
        keras.layers.Dense(13, input_dim=13, activation='relu'),
        keras.layers.Dense(10, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(optimizer='adam', loss=loss, metrics=['accuracy'])

    
    model.fit(X_train, y_train, epochs=100)

    print(model.evaluate(X_test, y_test))

    y_preds = model.predict(X_test)
    y_preds = np.round(y_preds)

    print("Classification Report: \n", classification_report(y_test, y_preds))

    return y_preds

Yöntem 3: SMOTE

In [56]:
X = df1.drop('Exited', axis='columns')
y = df1['Exited']

In [57]:
df1.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_0,Gender_1
0,0.538,0.324324,0.2,0.000000,0.000000,1,1,0.506735,1,True,False,False,False,True
1,0.516,0.310811,0.1,0.334031,0.000000,0,1,0.562709,0,False,False,True,False,True
2,0.304,0.324324,0.8,0.636357,0.666667,1,0,0.569654,1,True,False,False,False,True
3,0.698,0.283784,0.1,0.000000,0.333333,0,0,0.469120,0,True,False,False,False,True
4,1.000,0.337838,0.2,0.500246,0.000000,1,1,0.395400,0,False,False,True,False,True

Projenin detaylı videosunu izle. Tüm yapılanları önce bir anla. Sonra gerekirse yeni bir notebookta en iyi tahmin eden ann ile ( y_pred3 bu durumda) yeni bir model olustur. sonrasında predict eden bir fonksiyon olustur. sonrasında bunu flask ile web sunucusu olusturup yaptığın siteye deploy et. Ancak sunu dene. react js ile falan siteyi biraz şaşalı hale getir.

In [58]:
#model = ANN(X_train, y_train, X_test, y_test,'binary_crossentropy')

In [59]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import BinaryCrossentropy
from sklearn.metrics import classification_report
import numpy as np



# SMOTE ile veri dengesini sağlama
smote = SMOTE(sampling_strategy="minority")
X_sm, y_sm = smote.fit_resample(X, y)

X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.2, random_state=15, stratify=y_sm)

def ANN(X_train, y_train, X_test, y_test, loss):
    model = Sequential([
        Dense(13, input_dim=X_train.shape[1], activation='relu'),
        Dense(10, activation='relu'),
        Dense(1, activation='sigmoid')
    ])

    model.compile(optimizer='adam', loss=loss, metrics=['accuracy'])

    model.fit(X_train, y_train, epochs=100)

    print(model.evaluate(X_test, y_test))

    y_preds = model.predict(X_test)
    y_preds = np.round(y_preds)

    print("Classification Report: \n", classification_report(y_test, y_preds))

    return model, y_preds

In [60]:
# Modelin oluşturulması ve tahminlerin alınması
model, y_preds = ANN(X_train, y_train, X_test, y_test, 'binary_crossentropy')

# Model ile tahmin yapılması
new_y_preds = model.predict(X_test)
new_y_preds_classes = (new_y_preds > 0.5).astype(int)  # Eşik değeri 0.5 olarak belirlenmiştir

# Sonuçların incelenmesi
print(new_y_preds_classes)

Epoch 1/100

c:\Users\cagla\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

399/399 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.5938 - loss: 0.6707
Epoch 2/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6627 - loss: 0.6161
Epoch 3/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 940us/step - accuracy: 0.6855 - loss: 0.5974
Epoch 4/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7007 - loss: 0.5764
Epoch 5/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 968us/step - accuracy: 0.7129 - loss: 0.5685
Epoch 6/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 927us/step - accuracy: 0.7135 - loss: 0.5611
Epoch 7/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 997us/step - accuracy: 0.7202 - loss: 0.5485
Epoch 8/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7281 - loss: 0.5438
Epoch 9/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7377 - loss: 0.5281
Epoch 10/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7377 - loss: 0.5225
Epoch 11/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 960us/step - accuracy: 0.7490 - loss: 0.5140
Epoch 12/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7609 - loss: 0.4954
Epoch 13/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7592 - loss: 0.4897
Epoch 14/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 794us/step - accuracy: 0.7511 - loss: 0.4993
Epoch 15/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 861us/step - accuracy: 0.7631 - loss: 0.4785
Epoch 16/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7720 - loss: 0.4733
Epoch 17/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7713 - loss: 0.4779
Epoch 18/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7690 - loss: 0.4681
Epoch 19/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7683 - loss: 0.4669
Epoch 20/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7684 - loss: 0.4765
Epoch 21/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7647 - loss: 0.4715
Epoch 22/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7798 - loss: 0.4602
Epoch 23/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7807 - loss: 0.4598
Epoch 24/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7856 - loss: 0.4504
Epoch 25/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7768 - loss: 0.4567
Epoch 26/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7805 - loss: 0.4530
Epoch 27/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 918us/step - accuracy: 0.7780 - loss: 0.4534
Epoch 28/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 854us/step - accuracy: 0.7799 - loss: 0.4486
Epoch 29/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 833us/step - accuracy: 0.7777 - loss: 0.4489
Epoch 30/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 877us/step - accuracy: 0.7718 - loss: 0.4548
Epoch 31/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7883 - loss: 0.4399
Epoch 32/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 937us/step - accuracy: 0.7884 - loss: 0.4410
Epoch 33/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 955us/step - accuracy: 0.7798 - loss: 0.4508
Epoch 34/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 880us/step - accuracy: 0.7863 - loss: 0.4459
Epoch 35/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 924us/step - accuracy: 0.7788 - loss: 0.4547
Epoch 36/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 854us/step - accuracy: 0.7885 - loss: 0.4456
Epoch 37/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 804us/step - accuracy: 0.7911 - loss: 0.4337
Epoch 38/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 787us/step - accuracy: 0.7827 - loss: 0.4476
Epoch 39/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 861us/step - accuracy: 0.7821 - loss: 0.4480
Epoch 40/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 769us/step - accuracy: 0.7915 - loss: 0.4420
Epoch 41/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 854us/step - accuracy: 0.7918 - loss: 0.4381
Epoch 42/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 840us/step - accuracy: 0.7883 - loss: 0.4485
Epoch 43/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 900us/step - accuracy: 0.7844 - loss: 0.4491
Epoch 44/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 803us/step - accuracy: 0.7898 - loss: 0.4393
Epoch 45/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 785us/step - accuracy: 0.7917 - loss: 0.4428
Epoch 46/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 767us/step - accuracy: 0.7896 - loss: 0.4418
Epoch 47/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7875 - loss: 0.4429
Epoch 48/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 954us/step - accuracy: 0.7867 - loss: 0.4442
Epoch 49/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7865 - loss: 0.4387
Epoch 50/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7860 - loss: 0.4382
Epoch 51/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7893 - loss: 0.4375
Epoch 52/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 880us/step - accuracy: 0.7890 - loss: 0.4418
Epoch 53/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 775us/step - accuracy: 0.7920 - loss: 0.4397
Epoch 54/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 911us/step - accuracy: 0.7938 - loss: 0.4349
Epoch 55/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 763us/step - accuracy: 0.7873 - loss: 0.4384
Epoch 56/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 966us/step - accuracy: 0.7923 - loss: 0.4413
Epoch 57/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 977us/step - accuracy: 0.7957 - loss: 0.4371
Epoch 58/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7867 - loss: 0.4450
Epoch 59/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 928us/step - accuracy: 0.7863 - loss: 0.4381
Epoch 60/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 817us/step - accuracy: 0.7953 - loss: 0.4364
Epoch 61/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 787us/step - accuracy: 0.7893 - loss: 0.4405
Epoch 62/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 826us/step - accuracy: 0.7912 - loss: 0.4392
Epoch 63/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 778us/step - accuracy: 0.8003 - loss: 0.4274
Epoch 64/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 828us/step - accuracy: 0.7945 - loss: 0.4348
Epoch 65/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 989us/step - accuracy: 0.7912 - loss: 0.4356
Epoch 66/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 900us/step - accuracy: 0.7956 - loss: 0.4356
Epoch 67/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 922us/step - accuracy: 0.7897 - loss: 0.4385
Epoch 68/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 839us/step - accuracy: 0.7932 - loss: 0.4332
Epoch 69/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 832us/step - accuracy: 0.7927 - loss: 0.4437
Epoch 70/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7849 - loss: 0.4443
Epoch 71/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 933us/step - accuracy: 0.7940 - loss: 0.4370
Epoch 72/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 877us/step - accuracy: 0.7910 - loss: 0.4379
Epoch 73/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7902 - loss: 0.4421
Epoch 74/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 859us/step - accuracy: 0.8006 - loss: 0.4343
Epoch 75/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 875us/step - accuracy: 0.7948 - loss: 0.4397
Epoch 76/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 911us/step - accuracy: 0.7964 - loss: 0.4349
Epoch 77/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 928us/step - accuracy: 0.8008 - loss: 0.4265
Epoch 78/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 900us/step - accuracy: 0.7891 - loss: 0.4378
Epoch 79/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7954 - loss: 0.4317
Epoch 80/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 847us/step - accuracy: 0.7927 - loss: 0.4344
Epoch 81/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 854us/step - accuracy: 0.7985 - loss: 0.4265
Epoch 82/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 821us/step - accuracy: 0.7939 - loss: 0.4332
Epoch 83/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 796us/step - accuracy: 0.7928 - loss: 0.4391
Epoch 84/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 944us/step - accuracy: 0.8008 - loss: 0.4323
Epoch 85/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 861us/step - accuracy: 0.7981 - loss: 0.4296
Epoch 86/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 897us/step - accuracy: 0.7951 - loss: 0.4316
Epoch 87/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 891us/step - accuracy: 0.7989 - loss: 0.4275
Epoch 88/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 868us/step - accuracy: 0.7952 - loss: 0.4327
Epoch 89/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 877us/step - accuracy: 0.7981 - loss: 0.4304
Epoch 90/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 898us/step - accuracy: 0.7974 - loss: 0.4309
Epoch 91/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 901us/step - accuracy: 0.7971 - loss: 0.4377
Epoch 92/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 857us/step - accuracy: 0.8039 - loss: 0.4263
Epoch 93/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 807us/step - accuracy: 0.8007 - loss: 0.4268
Epoch 94/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 923us/step - accuracy: 0.8013 - loss: 0.4239
Epoch 95/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 930us/step - accuracy: 0.8018 - loss: 0.4274
Epoch 96/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 848us/step - accuracy: 0.8030 - loss: 0.4259
Epoch 97/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 867us/step - accuracy: 0.7996 - loss: 0.4319
Epoch 98/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 928us/step - accuracy: 0.7992 - loss: 0.4316
Epoch 99/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 922us/step - accuracy: 0.8042 - loss: 0.4230
Epoch 100/100
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 924us/step - accuracy: 0.7983 - loss: 0.4309
100/100 ━━━━━━━━━━━━━━━━━━━━ 0s 727us/step - accuracy: 0.7851 - loss: 0.4503
[0.4241442084312439, 0.7981795072555542]
100/100 ━━━━━━━━━━━━━━━━━━━━ 0s 955us/step
Classification Report:
               precision    recall  f1-score   support

           0       0.82      0.76      0.79      1593
           1       0.78      0.83      0.80      1593

    accuracy                           0.80      3186
   macro avg       0.80      0.80      0.80      3186
weighted avg       0.80      0.80      0.80      3186

100/100 ━━━━━━━━━━━━━━━━━━━━ 0s 635us/step
[[0]
 [1]
 [1]
 ...
 [1]
 [0]
 [1]]

In [71]:
model.predict(X_test)

100/100 ━━━━━━━━━━━━━━━━━━━━ 0s 672us/step

array([[0.02289538],
       [0.59280205],
       [0.8986866 ],
       ...,
       [0.88297033],
       [0.28144512],
       [0.9672659 ]], dtype=float32)

In [66]:
df1.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_0,Gender_1
0,0.538,0.324324,0.2,0.000000,0.000000,1,1,0.506735,1,True,False,False,False,True
1,0.516,0.310811,0.1,0.334031,0.000000,0,1,0.562709,0,False,False,True,False,True
2,0.304,0.324324,0.8,0.636357,0.666667,1,0,0.569654,1,True,False,False,False,True
3,0.698,0.283784,0.1,0.000000,0.333333,0,0,0.469120,0,True,False,False,False,True
4,1.000,0.337838,0.2,0.500246,0.000000,1,1,0.395400,0,False,False,True,False,True

In [68]:

import pickle
with open('denemebanka.pickle','wb') as f:
    pickle.dump(model , f)

In [70]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))